*{margin:0; padding:0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box;}
ol,ul{list-style: none;}
h1,h2,h3{font-weight: normal;}
a{text-decoration: none;}
/*这里是通用的类*/
body {
  font-size: 3.7vw;
}
h2.title {
  /*border:1px solid red;*/
  font-weight: normal;
  font-size: 4.5vw;
  margin: 5.3vw 0;
  border-left: 0.5vw solid #d43c33;
  padding-left: 2vw;
  line-height: 1;
}
p.loading {
  text-align: center;
}
/*----------------------------*/
.topbar {
  background-color: #d43c33;
  padding: 3.95vw 2.6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .logo {
  height: 6.5vw;
}
.topbar .downloadApp {
  line-height: 8vw;
  border: 1px solid #fff;
  border-radius: 4.25vw;
  padding: 0 3vw;
  font-size: 1.1em;
  color: #fff;
}


.siteNav{}
.siteNav > ol {
  display: flex;
  text-align: center;
  border-bottom: 1px solid #ccc;
  /*line-height: 12vw;*/
  font-size: 1.1em;

}
.siteNav > ol > li {
  flex: 1;

  /*border:1px solid black;*/
}
.siteNav > ol > li.active{
  color: #d43c33;
}
.siteNav > ol > li>span{
  line-height: 10vw;
  display: inline-block;
  position: relative;
}
.siteNav > ol > li.active>span::before{
  content: "";
  border-bottom: 2px solid #d43c33;
  position: absolute;
  bottom: 0;
  left: -2vw;
  right: -2vw;
}


.tabContents {}
.tabContents>li {
  display: none;
}
.tabContents>li.active {
  display: block;
}


/*推荐歌单部分*/
.playlists{
  margin-top: 6vw;
}
.playlists>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.playlists>ul>li {
  width: calc(33.333333% - 0.5vw);
  margin-bottom: 4vw;
}
.playlists>ul>li p{
  padding: 0 1vw;
  display: -webkit-box;
  line-height: 5vw;
  height: 10vw;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
.playlists>ul>li img {
  width: 100%;
}



/*最新音乐部分*/
.latestMusic{}
.latestMusic>.loading {
  text-align: center;
  &.hide {
    display: none;
  }
}

.latestMusic>ol {
  padding-left: 2.5vw;
}
.latestMusic>ol>li {
  border-bottom: 1px solid #f1f1f2;
  position: relative;
  padding: 1vw 0;
}
.latestMusic>ol>li a, .tab2>ol>li a {
  color: #888;
}
.latestMusic>ol>li>p, .tab2>ol>li>p {
  font-size: 3.73vw;
  padding: 1vw 0;
  color: #888;
  display: flex;
  align-items: center;
}
.latestMusic>ol>li>a h3, .tab2>ol>li>a h3{
  font-size: 4.53vw;
  color: #000;
  /*margin-top: 2vw;*/
}
.latestMusic .play-circled, .tab2 .play-circled {
  fill: #aaa;
  width: 6vw;
  height: 6vw;
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
}
.latestMusic p.singer {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
}
.latestMusic .icon.sq {
  fill: #fe672e;
  height: 4vw;
  width: 4vw;
  margin-right: 0.5vw;
}



/*最后art部分*/
section.art {
  background: transparent url(https://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922) no-repeat center;
  background-size: cover;
  padding-top: 17.8vw;
  padding-bottom: 3vw;
}
section.art .logosvg {
  height: 11.7vw;
  width: 61.3vw;
  display: block;
  margin: 0 auto;
  /*margin-top: 5vw;*/
  /*padding-top: 20vw;*/
}
section.art .openApp {
  display: block;
  max-width: 81.3vw;
  margin: 0 auto;
  text-decoration: none;
  color: #d33a31;
  font-size: 4.3vw;
  /*line-height: 15vw;*/
  text-align: center;
  padding: 1vw 0;
  line-height: 8.3vw;
  border: 1px solid;
  border-radius: 5.15vw;
  margin-top: 4vw;
}
section.art .copyright {
  font-size: 3.2vw;
  transform: scale(.75);
  color: #888;
  text-align: center;
  margin-top: 1vw;
}

.tabContents .tab2 {

}
.tabContents .tab2 .board{
  background: transparent url(../assets/hot_music.jpg) no-repeat center center;
  background-size: cover;
  height: 39.5vw;
  padding-left: 5.8vw;
  padding-top: 6.9vw;
}
.tabContents .tab2 .hot-music-icon{
  background: transparent url(../assets/index_icon.png) no-repeat -24px -30px;
  background-size: 166px 97px;
  height: 69px;
  width: 145px;
}
.tabContents .tab2 .hot-music-date {
  font-size: 3.2vw;
  color: #fff;
  transform: scale(.95);
  margin-top: 1.5vw;
  margin-left: -1.5vw;
}
.tabContents .tab2 .tab2List .rank {
  color: #e13436;
}
#hot-music-item {
  /*display: block*/
  display: flex;
  justify-content: left;
  position: relative;
}
#hot-music-item .rank {
  color: #999;
  text-align: center;
  height: 12vw;
  width: 9vw;
  line-height: 11vw;
  font-size: 4.2vw;
  padding-left: 1vw
}
#hot-music-item .hot-music-info>p {
  /*border: 1px solid #f1f1f2;*/
  padding-top: 1vw;
  padding-bottom: 1.5vw;
}
.tab2>ol>li {
  padding: 1vw 0;
}
#hot-music-item .hot-music-info {
  border-bottom: 1px solid #f1f1f2;
  flex:1;
}
.hot-music-li:nth-child(1) #hot-music-item .rank{
  color: #e13436;
}
.hot-music-li:nth-child(2) #hot-music-item .rank{
  color: #e13436;
}
.hot-music-li:nth-child(3) #hot-music-item .rank{
  color: #e13436;
}
#hot-music-item p {
  font-size: 12px;
}

/*搜索部分*/
.tabContents .tab3 .search-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  border: 1px solid #f0f1f2;
  position: relative;
  display: flex;
  align-items: center;
}
.tabContents .tab3 .search-wraper>input {
  /*border: 1px solid red;*/
  border: 0; /* 方法1 */
  background-color: #ebecec;
  color: #c9c9c9;
  line-height: 2em;
  width: 100%;
  border-radius: 1em;
  padding-left: 8vw;
  height: 2em;
}
#search {
  outline: none;
}
.tabContents .tab3 .search-wraper>input.active{
  color: #000;
}
.tabContents .tab3 .search-wraper>.icon.search {
  fill: red;
  height: 3.5vw;
  width: 3.5vw;
  position: absolute;
  left: 8vw;
}
.tabContents .tab3 .search-wraper>.iconDeleteitem {
  fill: #bcbdbd;
  position: absolute;
  width: 4vw;
  height: 4vw;
  right: 7vw;
}


.search-result .default {
  /*width: 70vw;/**/
  padding-left: 1vw;

}
.search-result .default p, .search-result .searched>p{
  font-size: 12px;
  padding: 1em 0em;
}
.search-result .default span {
  border: 1px solid #ebecec;
  font-size: 3.7vw;
  padding: 1vw 2vw;
  line-height: 6vw;
  border-radius: 5vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
}
.search-result .default .default-tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2vw;
}
.search-result>li {
  display: none;
}
.search-result>li.active {
  display: block;
}
.search-result .searchFor {
  padding: 3vw 6vw;
  border-bottom: 1px solid #ebecec;
  font-size: 4vw;
  color: #507daf;
}
/*searched的渲染样式*/
.search-result>.searched {
  padding-left: 2.5vw;
}
.search-result>.searched .no-result{
  display: block;
  margin: 0 auto;
  text-align: center;

}
.search-result>.searched>div {
  border-bottom: 1px solid #f1f1f2;
  position: relative;
  padding: 1vw 0;
}
.search-result>.searched>div a{
  color: #888;
}
.search-result>.searched>div>p {
  font-size: 12px;
  padding: 1vw 0;
  color: #888;
  display: flex;
  align-items: center;
}
.search-result>.searched>div>a h3 {
  font-size: 4.53vw;
  color: #507daf;
  /*margin-top: 2vw;*/
}
.search-result .play-circled{
  fill: #aaa;
  width: 6vw;
  height: 6vw;
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
}
.search-result .icon.sq {
  fill: #fe672e;
  height: 4vw;
  width: 4vw;
  margin-right: 0.5vw;
}
.search-result .search-advise {
  display: flex;
  align-items: center;
  padding: 0vw 3vw;
}
.search-result .search-advise>svg {
  fill: #b9b8b9;
  width: 5vw;
  height: 5vw;
}
.search-result .search-advise {
  color: #000;
}
.search-result .search-advise>p {
  margin-left: 10px;
  border-bottom: 1px solid #f0f1f2;
  flex: 1;
  line-height: 12vw;
}
.searched .loading.active{
  display: block;
}
.searched .loading {
  display: none;
}
